<%- include('templates/header') %>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/easterEgg.css">

    <% if(username) {%>
        <%- include('templates/navbar', {navLinks: navLinks}) %>
            <% }else {%>
                <%- include('templates/navbarGuest') %>
                    <% }%>

        
            <div id="content">
                <!-- <img src="/images/binary2.png" alt=""> -->
                <div id="div404">
                    <div>4</div>
                    <div id="world">🌍</div>
                    <div>4</div>
                </div>
                <h3>Sorry, but we can't find what you are looking for.</h3>
            </div>

        <%- include('templates/easterDialog') %>

        <% if(username) {%>
            <%- include('templates/navbarMobile') %>
                <% }else {%>
                    <%- include('templates/navbarMNU') %>
                        <% }%>
            <script src=/js/easterEgg.js></script>

            <%- include('templates/footer') %>