<%- include('templates/header') %>
    <link href="/css/history.css" rel="stylesheet">
    <%- include('templates/navbar', {navLinks: navLinks}) %>

        <link rel="stylesheet" href="/css/history.css">

        <div class="scan-container">
            <% scanHistory.forEach(scan => { %>
                <div class="scan-item">
                    <div id="discription-group">
                        <div id="item-discription">
                            <p>Time: <%= new Date(scan.timestamp).toLocaleString() %></p>
                            <p>Type: <%= scan.scanType %></p>            
                        </div>
                        <button type="submit" class="btn btn-green" id="delete">Delete</button>
                    </div>
                    <img src="<%= scan.scanData %>" alt="Scan Image">
                </div>        
            <% }) %>
            </div>
        </div>
                <!-- Pass chartData to the global scope using a hidden div -->
                <div id="chartData" style="display: none;">
                    <%= JSON.stringify(chartData) %>
                </div>
        

        <!-- Show Statistics Button -->
        <button id="showStatistics" class="btn btn-green">Show Statistics</button>

        <!-- Pie Chart Container -->
        <div id="chartContainer" style="width: 80%; height: 400px; margin: 50px auto; display: none;">
            <canvas id="myChart"></canvas>
        </div>


        <!-- Include Chart.js and Chart.js DataLabels Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

        <!-- Include the separate JavaScript file -->
        <script src="/js/chart.js"></script>

<%- include('templates/footer') %>