<%- include('templates/header') %>
    <link href="/css/history.css" rel="stylesheet">
    <%- include('templates/navbar', {navLinks: navLinks}) %>

        <link rel="stylesheet" href="/css/history.css">

        <div class="containerSize">
            <div id="container">
                <h1>Scan History</h1>

                <!-- Filter Form -->
                <form id="filterForm" method="GET" action="/history">
                    <div>
                        <label for="timeFilter">Time:</label>
                        <select name="timeFilter" id="timeFilter">
                            <option value="7" <%=(timeFilter==7 ? 'selected' : '' ) %>>Past 7 days</option>
                            <option value="14" <%=(timeFilter==14 ? 'selected' : '' ) %>>Past 14 days</option>
                            <option value="30" <%=(timeFilter==30 ? 'selected' : '' ) %>>Past 30 days</option>
                            <option value="90" <%=(timeFilter==90 ? 'selected' : '' ) %>>Past 90 days</option>
                        </select>
                    </div>
                    <div>
                        <label for="typeFilter">Type:</label>
                        <select name="typeFilter" id="typeFilter">
                            <option value="" <%=(!typeFilter ? 'selected' : '' ) %>>All</option>
                            <option value="Battery" <%=(typeFilter=='Battery' ? 'selected' : '' ) %>>Battery</option>
                            <option value="Cardboard" <%=(typeFilter=='Cardboard' ? 'selected' : '' ) %>>Cardboard
                            </option>
                            <option value="Glass" <%=(typeFilter=='Glass' ? 'selected' : '' ) %>>Glass</option>
                            <option value="Organic" <%=(typeFilter=='Organic' ? 'selected' : '' ) %>>Organic</option>
                            <option value="Plastic" <%=(typeFilter=='Plastic' ? 'selected' : '' ) %>>Plastic</option>
                            <option value="Paper" <%=(typeFilter=='Paper' ? 'selected' : '' ) %>>Paper</option>
                            <option value="Metal" <%=(typeFilter=='Metal' ? 'selected' : '' ) %>>Metal</option>
                            <option value="Trash" <%=(typeFilter=='Trash' ? 'selected' : '' ) %>>Trash</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-green">Apply Filters</button>
                </form>

                <div class="scan-container">
                    <% scanHistory.forEach(scan=> { %>
                        <div class="scan-item" data-id="<%= scan.scanId %>">
                            <div id="description-group">
                                <div id="item-description">
                                    <p>Time: <%= new Date(scan.timestamp).toLocaleString() %>
                                    </p>
                                    <p>Type: <%= scan.scanType %>
                                    </p>
                                </div>
                                <button type="button" class="btn btn-green delete-button">Delete</button>
                            </div>
                            <img src="<%= scan.scanData %>" alt="Scan Image">
                        </div>
                        <% }) %>
                </div>
            </div>
            <button id="showStatistics" class="btn btn-green">Show Statistics</button>
        </div>

        <dialog id="confirmation">
            <div id="confirmToDelete">
                <p> Confirm to delete?</p>
                <button type="button" class="btn btn-green confirm-To-Delete">Confirm</button>
                <button class="btn btn-green" id="closeDeleteMsg">Back</button>
            </div>

            <div id="itemDeleted" style="display: none;">
                <h3>Scan entry deleted successfully.</h3>
                <button class="btn btn-green" id="closeDeleteMsgSuccess">Close</button>
            </div>
        </dialog>

        <!-- Show Statistics Button -->

        <!-- Pie Chart Container -->
        <div id="chartContainer" style="width: 80%; height: 400px; margin: 50px auto; display: none;">
            <canvas id="myChart"></canvas>
        </div>

        <!-- Download Statistics Button -->
        <a id="downloadStatistics" download="Canvas.png" class="btn btn-green" href="#">Download Statistics</a>

        <!-- Pass chartData to the global scope using a hidden div -->
        <div id="chartData" style="display: none;">
            <%= JSON.stringify(chartData) %>
        </div>

        <!-- Include Chart.js and Chart.js DataLabels Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

        <script>
            const downloadStatisticsButton = document.getElementById("downloadStatistics");
            downloadStatisticsButton.style.display = "None";

            const showStatisticsButton = document.getElementById("showStatistics");
            showStatisticsButton.addEventListener("click", () => {
                downloadStatisticsButton.style.display = "Block";
            })

            const canvas = document.getElementById("myChart");
            const canvasContext = canvas.getContext("2d");

            function downloadCanvas() {
                console.log("Hello!");

                let dt = canvas.toDataURL('image/png');
                dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');
                dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=statistics.png');
                this.href = dt;
            }

            downloadStatisticsButton.addEventListener("click", downloadCanvas);
        </script>

        <style>
            #downloadStatistics {
                width: 190px;
                margin: auto;
            }
        </style>


        <!-- Include the separate JavaScript file -->
<%- include('templates/navbarMobile') %>
            <script src="/js/chart.js"></script>
<%- include('templates/footer') %>