<div class="card">
  <h5 class="card-header">
    <%= notifications.title %>
  </h5>
  <div class="card-body">
    <p class="card-text">
      <%= notifications.notes %> <br>
        <b> Day:</b>
        <% if(notifications.day==1) {%>
          Monday
          <% } else if(notifications.day==2){%>
            Tuesday
            <% } else if(notifications.day==3 ){%>
              Wednesday
              <% } else if(notifications.day==4 ){%>
                Thursday
                <% } else if(notifications.day==5 ){%>
                  Friday
                  <% } else if(notifications.day==6 ){%>
                    Saturday
                    <% } else {%>
                      Sunday
                      <% } %>
                        <br>
                        <b>Time:</b>
                        <%= notifications.time %>
    </p>
    <!-- style="display: grid; grid-template-columns: auto auto; text-align: left;" -->
    <div >
      <form action="/deleteNotification/<%= notifications.title %>" method="post" >
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
      <!-- <form method="post" action="/updateNotification/<%= notifications.title %>">
        <button class="btn btn-primary" type="submit">Update</button>
      </form> -->
    </div>
  </div>
</div>